form{
    width:400px;
    margin:auto;
}

input{
    width:100%;
    padding:8px;
    margin-bottom:10px;
}

button{
    padding:10px 20px;
    background:#1976d2;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}